* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html, body {
    height: 100%;
}

body {
    background: #040333;
}

.grid-game-container {
    min-height: 100%;
    margin: 0 auto;
    position: relative;
}

h1 {
    font-size: 3rem;
    padding: 10px 0;
    text-align: center;
}

.red {
    color: #de2b35;
}
.orange {
    color: #f47f2a;
}
.yellow {
    color: #fbe755;
}
.green {
    color: #30a64f;
}
.blue {
    color: #3073de;
}
.indigo {
    color: #7b39ca;
}
.violet {
    color: #bf4dbf;
}
.gold {
    color: #ab9333;
}

canvas {
    border: solid 3px #ccc;
}

.instructions {
    margin-top: 20px;
}

.instructions p {
    color: white;
    font-family: sans-serif;
    font-size: 1.125rem;
    margin-bottom: 10px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1,
.instructions p,
.end-screen h2,
.end-screen p,
.end-screen button {
    font-family: sans-serif;
    letter-spacing: 1px;
}

.canvas-container {
    position: relative;
}

.end-screen {
    align-items: center;
    background-color: rgba(4,3,51,0.8);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.end-screen p {
    margin-top: 40px;
    font-size: 1.25rem;
    color: white;
}

.end-screen button {
    background-color: #009966;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 55px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 200px;
}

.end-screen button,
.end-screen h2 {
    color: white;
}

.win {
    background-color: rgba(41,21,7,0.2);
}

.win button {
    background-color: #040333;
}
